<app-navigation></app-navigation>
<div class="container">
    <br>
    <div class="row">
        <div class="col-6 align-left" *ngFor="let order of itemlist">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="card-title"><b>Item Name:</b> {{order.itemname}}</p>
                            <p class="card-text"><b>Home Address:</b> {{order.address}}</p>
                            <p class="card-title"><b>Contact Email Address:</b> {{order.emailaddress}}</p>
                            <p class="card-text"><b>Contact Number:</b> {{order.phonenumber}}</p>
                            <p class="card-title"><b>FreeBie:</b> {{order.freebie}}</p>
                            
                        </div>

                        <!--<div class="col-6">
                            <button class="btn btn-secondary" (click)="approve(order.orderId)">Approve</button>
                            <button style="margin-left: 10px;" class="btn btn-secondary" (click)="decline(order.orderId)">Decline</button>
                        </div>-->
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>