<app-navigation></app-navigation>
<div class="container">
<table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Vendor Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Item Image</th>
      <th>FreeBie</th>
    </tr>
</thead>
    <tbody>
    <tr *ngFor="let order of itemlist">
      <td >{{order.itemid}}</td>
      <td>{{order.itemname}}</td>
      <td>{{order.description}}</td>
      <td>{{order.address}}</td>
      <td>{{order.emailaddress}}</td>
      <td>{{order.phonenumber}}</td>
      <td><img [src]="order.itemimage"></td>
      <td>{{order.freebie}}</td>
    </tr>
    </tbody>
  </table>
  </div>